{% extends "layout/base.twig" %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ app.request.basepath }}/css/audiojs.css">
{% endblock %}

{% block audioplayer %}
    <!-- audio player -->
    <audio preload></audio>
    <ol id="playlist">
        {% for song in allSongs %}
            <li>
                <a href="#" data-src="{{ app.request.basepath }}/../songs/{{ song.songId }}.mp3">{{ song.songName }}</a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}

{% block content %}
    <!-- content -->
    {% block research %}
        <div id="research">
            <select id="e9">
                {% for song in allSongs %}
                    <option value="{{ song.songId }}">{{ song.songName }}</option>
                {% endfor %}
            </select>
	    </div>
    {% endblock %}
    {% block top10 %}
        <div id="top10">
            <h2>TOP 10</h2>
            <ol class="rounded-list">
                {% for top in top10 %}
                <li>
                    <a href="#" data-src="{{ app.request.basepath }}/../songs/{{ top.songId }}.mp3">{{ top.songName }}</a>
                </li>
                {% endfor %}
            </ol>
        </div>
    {% endblock %}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ app.request.basepath }}/js/libs/audiojs/audio.min.js"></script>
    <script type="text/javascript" src="{{ app.request.basepath }}/js/audioplayer.js"></script>
    <script src="{{ app.request.basepath }}/js/libs/select2.js"></script>
    <script>
        $(document).ready(function() {
            $("#e9").select2({
                placeholder: "Recherche une musique",
                allowClear: true
            });
        });
    </script>
{% endblock %}