{% extends "layout/base.twig" %}

{% block content %}
    <h2>Formulaire d'ajout d'une musique</h2>
    <form action="{{ ('upload') }}" method="POST" class="form" {{ form_enctype(uploadForm) }}>
        <div>
            {{ form_label(uploadForm.musicName) }}

            {{ form_widget(uploadForm.musicName) }}
            {{ form_errors(uploadForm.musicName) }}
        </div>

        <div>
            {{ form_label(uploadForm.artiste) }}

            {{ form_widget(uploadForm.artiste) }}
            {{ form_errors(uploadForm.artiste) }}
        </div>

        <div>
            {{ form_label(uploadForm.album) }}

            {{ form_widget(uploadForm.album) }}
            {{ form_errors(uploadForm.album) }}
        </div>

        <div>
            {{ form_label(uploadForm.userName) }}

            {{ form_widget(uploadForm.userName) }}
            {{ form_errors(uploadForm.userName) }}
        </div>

        <div>
            {{ form_label(uploadForm.email) }}

            {{ form_widget(uploadForm.email) }}
            {{ form_errors(uploadForm.email) }}
        </div>

        <div>
            {{ form_label(uploadForm.song) }}

            {{ form_widget(uploadForm.song) }}
            {{ form_errors(uploadForm.song) }}
        </div>


        <input class="btn" type="submit" name="submit" />
    </form>
    <a class="btn btn-info" href="{{ path('home') }}">Retour à l'accueil</a>
{% endblock %}